<!DOCTYPE HTML>
<html>
	<head>
		<link rel="stylesheet" href="static\assets\css\style.css">
		<script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js">
		</script>
		<script>
			$(document).ready(function(){
				setTimeout(function(){
						$("body").addClass("s");
						$("#introdiv").css("display","block");
						$("#introdiv").css("height","100%");

					},1000
				);
				}
			);
		</script>
	</head>
	<body>
		<nav>
			<a href="">纺锤波分析</a>
			<a href="/inro">团队介绍</a>
		</nav>
		<div id="kuangdiv">
			<h1 id="tdjs">团队介绍</h1>
			<div id="introdiv">
				<div id="intro1">
				<font color="#fff">黄炜壕（团队领导）</font>
					- 负责项目整体规划和协调，负责科学研究的方向和项目的整体领导。
					- 主导团队在脑波科技领域的创新研究，确保项目目标与团队愿景的一致性。
				</div>
				<div id="intro2">
				<font color="#fff">蒋春鸿（数据科学与实验设计）</font>
					- 负责模型的开发与优化。
					- 提供临床医学方面的专业意见，确保技术的临床有效性。
				</div>
				<div id="intro3">
				<font color="#fff">关熙柠（算法与模型设计）</font>
					- 负责收集、清洗和分析脑电数据，提取脑电活动的关键特征。
					- 协助模型性能评估和结果解释。
				</div>
			</div>
		</div>
	
	</body>
	
	
</html>